@font-face {
    font-family: sanic-style;
    src: url('./fonts/NiseSegaSonic.TTF');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

body {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.31) 50%, rgba(0,212,255,0.46) 100%), url(./images/hero-background.jpg);
    background-size:cover;
    background-position: fixed;
}

h2 {
    font-family: sanic-style, sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(9, 64, 214);
    color: rgb(248, 189, 26);
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 70%;
    background-color: rgba(151, 221, 226, 0.24);
    border-radius: 32px;
    border-style: solid;
    border-color: rgba(219, 219, 219, 0.562);
    border-width: 6px;
}

.title {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-family: sanic-style, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(9, 64, 214);
    color: rgb(248, 189, 26);
}

.selection-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 70%;
}

.player-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.char-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    border-color: rgba(71, 102, 204, 0.884);
    overflow: hidden;
    width: 100%;
    height:90%;
}

#villains.char-grid {
    border-color: rgba(201, 5, 5, 0.685);
}

.character.selected {
    background-color: rgba(71, 102, 204, 0.884);
}

#villains .character.selected {
    background-color: rgb(87, 10, 0);
}

.character {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    font-family: sanic-style, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(9, 64, 214);
    color: rgb(248, 189, 26);
    transition: all 1s;
    text-align: center;
}

#villains .character:nth-child(2) {
    font-size: 1.2rem;
}

.character:hover {
    cursor:pointer;
    background-color: white;
}

#villains .character {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(255, 5, 5, 0.603);
    color: rgb(0, 0, 0);
    border-color: rgba(255, 5, 5, 0.603);
}

.character:nth-child(2n-1){
    border-right: 2px solid rgba(71, 102, 204, 0.884);
}
.character:nth-child(-n+2){
    border-bottom: 2px solid rgba(71, 102, 204, 0.884);
}

.gameboard {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(125px, 1fr));
    width: 100%;
    height: 75%;
    background-color: rgba(172, 172, 172, 0.411);
    border: 5px solid rgb(248, 189, 26);
    border-radius: 1rem;
    align-self: center;
}

.wrapper {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}

.wrapper:not(:nth-child(3n)) {
    border-right: 4px solid rgba(235, 183, 40, 0.452);
}

.wrapper:not(:nth-child(n + 7)) {
    border-bottom: 4px solid rgba(235, 183, 40, 0.452);
}

.space {
    display: none;
    height: 75%;
    width:75%;
}

.game-wrap {
    display: flex;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-around;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    padding-top: 5%;
    box-sizing: border-box;
    flex: 0 1;
}

.player-name {
    font-size: 3rem;
    align-self: center;
    font-family: sanic-style, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(9, 64, 214);
    color: rgb(248, 189, 26);
}

.player-portrait {
    height: 250px;
    width: 250px;
    border-width: 6px;
    border-color: black;
    border-style: solid;
    align-self: center;
    margin-top: 15px;
    border-radius: 12px;
    border-color: rgb(248, 189, 26);
    -webkit-box-shadow: 0px 0px 29px 11px rgba(10,65,214,1);
    -moz-box-shadow: 0px 0px 29px 11px rgba(10,65,214,1);
    box-shadow: 0px 0px 29px 11px rgba(10,65,214,1);
}

.player-score {
    align-self: center;
    font-size: 6rem;
    font-weight: bolder;
    margin-top: 10vh;
    font-family: sanic-style, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0a41d6;
    color: rgb(248, 189, 26);
}

.board-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round-win {
    font-family: sanic-style, sans-serif;
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(9, 64, 214);
    color: rgb(248, 189, 26);
}

.dimmer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.705);
    display: flex;
    top: 0%;
    left: 0%;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.winner-card {
    position:relative;
    display:flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: rgb(245,245,245);
    background: linear-gradient(90deg, rgba(245, 245, 245, 0.089) 0%, rgba(119,119,215,0.865) 50%, rgba(254, 254, 254, 0.055) 100%);
}

.win-img {
    height: 75%;
    width: auto;
}

.win-text {
    font-family: sanic-style, sans-serif;
    font-size: 4rem;
    letter-spacing: 2px;
    text-decoration: underline;
    pointer-events: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(9, 64, 214);
    color: rgb(248, 189, 26);
}

.instruct-text {
    position: absolute;
    bottom: 0;
    font-family: sanic-style, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(9, 64, 214);
    color: rgb(248, 189, 26);
}

form {
    margin-top: .5rem;
    display:flex;
}

.pair {
    border-width: 2px;
    border-color: rgb(248, 189, 26);
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(9, 64, 214, 0.315);
}

.pair:not(:last-child) {
    border-right: none;
}

label {
    font-size: 1.1rem;
    font-weight: bold;
    color:rgb(247, 156, 129);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    height: 4rem;
    padding: 1rem 1rem;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: sanic-style, sans-serif;
    letter-spacing: 1px;
    color: white;
    background-color: rgba(9, 64, 214, 0.274);
    border-style: solid;
    border-color: rgba(248, 189, 26, 0.705);
    border-width: 4px;
    border-radius: 12px;
}

button:hover {
    cursor: pointer;
}

#start {
    margin-bottom: 1%;
}

#reset {
    margin-top: 1%;
}


.footer {
    position: absolute;
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    bottom: 2%;
}

.footer img {
    height: 1.2rem;
    width: 1.2rem;
    filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
}

.footer a {
    text-decoration: none;
}

.footer a:visited {
    color: white;
}
